<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>tests/Performance</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>tests/Security</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Dashboard/Views</directory>
            <file>src/watcher.php</file>
        </exclude>
    </source>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_TYPE" value="mysql"/>
        <env name="MYSQL_HOST" value="127.0.0.1"/>
        <env name="MYSQL_PORT" value="3306"/>
        <env name="MYSQL_DATABASE" value="nws_cad_test"/>
        <env name="MYSQL_USER" value="test_user"/>
        <env name="MYSQL_PASSWORD" value="test_pass"/>
        <env name="LOG_LEVEL" value="error"/>
        <env name="APP_DEBUG" value="false"/>
    </php>
</phpunit>
